.card_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 2em;
    padding-bottom: 2em;
}

.card {
    width: 300px;
    border-radius: 10px;
    margin-right: 2em;
    margin-bottom: 15px;
    padding: 1em;
    box-shadow: 0px 0px 25px rgba(205, 205, 205, 0.8);
    backdrop-filter: blur(10px);
}   

.cube {
    text-align: center;
}

.cubeBox {
    width: 50%;
    text-align: center;
}

.skills_heading {
    text-transform: uppercase;
    color: black;
    padding: 1em;
}

.skillsTitle {
    position: relative;
    left: 57px;
    top: 20px;
}