.heroBg {
    background-image: url(../../assets/hero_image_cover.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    width: 100%;
}

.container {
    height: 100%;
}

.content {
    height: 100%;
    z-index: 100;
    position: relative;
    bottom: 10px;
    left: 6px;
}

.profileImg {
    width: 300px;
    height: 300px;
    padding-top: 2em;
    position: relative;
    left: 3em;
}