.section {
    height: 90vh;
    background-image: url('../../assets/hero_image_cover.png');
    background-size: cover;
    background-position: center;
}

.content {
    height: 100%;
}

.container {
    height: 100%;
}

.profileAvatar {
    width: 300px;
    height: 300px;
    position: relative;
    right: 4em;
    top: 2em;
}